
* {
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
font-family:sans-serif;
}

body {
background-color:#fefdf9;
}

button {
border: 0;
background-color: transparent;
}

.item-link {
display: block;
text-decoration: none;
color:#615e67;
padding: 0.5em;
}

.item-link:hover {
display: block;
text-decoration: none;
color:#f35d4f;
padding: 0.5em;
}

.container {
padding:0 1.25em;
width: 100%;
max-width:71.875em;
margin: 0 auto;
margin-top: 5em;
}

header {
display: flex;
align-items: center;
justify-content: space-between;
}

header ul {
display: flex;
align-items: center;
gap: 1.75em;
}

.principal p {
max-width:21.875em;
line-height:1.5em;
color:#615e67;
margin-bottom: 1.375em;
}

.principal h1 {
max-width: 5.8em;
font-size: 3.875rem;
font-weight: bold;
line-height: 1em;
color:#00001a;
}

.banner {
max-width:45.625em;
border-radius: 0.313em;
width:100%;
}

.btn {
background-color: #f35d4f;
padding:1.063em 2.5em;
text-transform: uppercase ;
font-size: 1rem;
font-weight: bold;
color:#fff;
border-radius: 0.313em;
cursor: pointer;
}

.btn:hover {
background-color:#00001a;
color: #fff;
}

.principal .left {
max-width:46em;
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 2.2em;
}

.new {
max-width:21.875em;
background-color:#00001a;
color:#fff;
padding: 1.375em;
border-radius: 0.313em;
}

.new h2 {
margin-bottom:0.625em;
font-size:2.63rem;
color:#e9a94f;
}

.new .last-new {
margin-top: 2.1em;
margin-bottom: 2.1em;
}

.new .last-new h3 {
margin-bottom:10px;
}

.last-new h3:hover {
color:#e9a94f;
cursor: pointer;
}

.new .last-new p {
margin-bottom:0.6em; 
line-height:1.5em;
color:#cacbe0;
font-size: 0.8750rem;
}

hr.line {border: 0.063em solid #5f5f79; }

.colunas {
display: flex;
align-items: flex-start;
justify-content: space-between;
margin-top: 3.125em;
}

.notice {
margin-top:3.75em;
display: flex;
align-items: center;
justify-content: space-between;
}

.notice .new-notice .text-notice {
max-width: 13.75em;
}

.img-notice {
max-width:6.25em;
border-radius: 0.313em;
width:100%;
}

.new-notice {
display: flex;
align-items: center;
justify-content: space-between;
gap:1.875em;
}

.new-notice p {
color:#615e67;
font-size:0.8750rem;
line-height:1.25em;
}

.new-notice h4 {
margin-top:0.625em;
margin-bottom:0.625em;
color:#00001a;
}

.new-notice h4:hover {
color:#f35d4f;
cursor: pointer;
}

.new-notice h2 {
color:#c8c6d1;
font-size:1.88rem;
}


/*RESPONSIVE*/

@media (max-width: 30em) {

.container {
    margin-top: 2em;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

header ul {
   
    gap: 1.0em;
    margin-top: 1.875em;
    font-size: 0.8125rem;
    text-transform: uppercase;
    font-weight: bold;
}

.item-link:hover {
font-weight: bold;
}

.colunas {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2em;
    flex-direction: column;
}

.principal .left {
    max-width: 45.6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5em;
    flex-direction: column;
}


.principal h1 {
 max-width: 11em;
 font-size: 3.00rem;
 line-height: 1em;
}

.principal p {
   
    margin-top: 1.375em;
}

.new {
    
    margin-top: 3.75em;
}

.new h2 {

    font-size: 2.00rem;
}

.notice {
    margin-top: 3.75em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.new-notice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.875em;
    margin-bottom: 1.875em;
}



.btn {
    width: 100%;
}

.btn:hover {
    width: 100%;
}

}